apiVersion: v1
kind: ConfigMap
metadata:
  name: index
   
data:
  index.html: |
    <html>

    <head>
    <title>Privet</title>
    </head>

    <body>
    <H1>Mysite</H1>
    <a href="secondpage">Secondpag666e</a>
    <P><a href="music">Music</a>
    <P><a href="index.php">Ihdex.php</a>
    <P><a href="secondserver">Secondserver</a>
    <P><a href="redblue/">Redblue</a>
    <P><a href="image1/1.jpg">Image1</a>
    <P><a href="image2/2.png">Image2</a>
    <P><a href="cpu">CPU_Load</a>

    </html>
