apiVersion: v1
kind: ConfigMap
metadata:
  name: content
   
data:
  index.html: |
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <body>
    <h1>jdsfhjksdhfkjsdhgfjdsgh </h1>
    <a href="secondpage/">другая страница</a>
    <a href="music/">музыка</a>
    <a href="index.php">php</a>
    <a href="secondserver">другой сервер </a>
    <a href="redblue/">мигалка</a>
    <a href="image1/1.jpg">image1</a>
    <a href="image2/1.png">image2</a>
    <a href="cpu/">cpu</a>
    <a href="s3">s3 bucket</a>

    <!-- <img src="images/Clouds-Meet-The-Sea-AI-Generated-4K-Wallpaper-jpg.webp" /> -->
    </body>
    </html>
